In [49]:
""" This script creates a five letter word dictionary (pandas dataframe) 
using the words dictionary found here https://github.com/gokhanyavas/Oxford-3000-Word-List
Author: Silja Guggisberg

Date: 06/06/23
Testing new branch.
"""

' This script creates a five letter word dictionary (pandas dataframe) \nusing the words dictionary found here \nhttps://github.com/dwyl/english-words/blob/master/words_dictionary.json'

In [50]:
import pandas as pd

In [51]:
f = pd.read_fwf(r"Z:\C&C Hackathon\Oxford_3000_Dictionary.txt")

In [52]:
f

              a
0       abandon
1     abandoned
2       ability
3          able
4         about
...         ...
3864      yours
3865   yourself
3866      youth
3867       zero
3868       zone

[3869 rows x 1 columns]

In [53]:
len(f)

3869

In [54]:
f['a']=f['a'].astype('str')

In [55]:
len(f['a'])

3869

In [56]:
five_letter_df = f[f['a'].str.len()==5]

In [57]:
five_letter_df.head()

        a
4   about
5   above
12  abuse
41  actor
46  adapt

In [58]:
len(five_letter_df)

569

In [59]:
five_letter_df.rename(columns = {'a':'word'}, inplace=True)

C:\Users\guggis\Anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [60]:
five_letter_df.reset_index(drop=True, inplace=True)

In [61]:
five_letter_df.count()

word    569
dtype: int64

In [62]:
five_letter_df.head()

    word
0  about
1  above
2  abuse
3  actor
4  adapt

In [63]:
five_letter_df.tail()

      word
564  write
565  wrong
566  young
567  yours
568  youth